[Unit]
Description=Monitoring System Core Service
After=network.target

[Service]
Type=simple

# アプリを置いたディレクトリ
WorkingDirectory=/opt/my-app

# node の絶対パスを指定（which で確認）
ExecStart=/usr/bin/node dist/server.js

# 環境変数（必要に応じて）
Environment=NODE_ENV=production
# 例：PORT=3000 など
# Environment=PORT=3000

# 異常終了時の自動再起動
Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target