/*
アプリケーション内のテキストをドラッグで選択できないようにするためのスタイル
*/
* {
    user-select: none;
    -webkit-user-select: none;  /* Chrome, Safari 対応 */
    -moz-user-select: none;     /* Firefox 対応 */
    -ms-user-select: none;      /* Edge, IE 対応 */
  }

  body {
    font-family: 'Noto Sans JP', 'Helvetica Neue', Arial, sans-serif;
  }

/* vue-grid-layout styling for Dashboard & Trend pages */
.vue-grid-layout-style {
  background: #eee;
}
.vue-grid-item-style:not(.vue-grid-placeholder) {
  background: #ccc;
  border-style: dotted;
  border-color: rgba(140, 140, 140, 0.35);
}
.vue-grid-item-style.static {
  background: #cce;
}